<!-- Contenido principal -->
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido a Tu Ecommerce</h1>
      <p class="lead">Aquí encontrarás una amplia selección de productos para satisfacer tus necesidades.</p>
      <hr class="my-4">
      <p>¡Explora nuestro catálogo y descubre nuestras increíbles ofertas!</p>
    </div>
  </div>